
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Links and Layout Customization</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bookmodule/css/main.css' %}">
</head>
<body>
    <h1>Links and Layout Customization</h1>

    <a href="https://qu.edu.sa/" class="custom-link link1" target="_blank" rel="noopener"> Go to QU website (open new tap)</a><br>
    <a href="https://qu.edu.sa/" class="custom-link link2">Go to QU website (open in the asme page)</a><br>
    <a href="https://qu.edu.sa/" class="custom-link link3">Go to QU website (open in the asme page)</a>

</body>
</html>
