{% extends "bookmodule/layouts/base.html" %}
{% load static %} <!-- Ensure this is at the top -->

{% block title %}List of Books{% endblock title %}

{% block content %}
<h1>List of Books</h1>

<!-- Static Content: Predefined Books -->
<h2>Predefined Book List</h2>
<ul>
    <li>
        <a href="{% url 'books.one_book' %}">
            <h3>1) Internet & World Wide Web How to Program</h3>
        </a>
        <a href="{% url 'books.one_book' %}">
            <img src="{% static 'bookmodule/images/book1.jpeg' %}" alt="Book 1" width="200" height="200">
        </a>
    </li>
    <li>
        <h3>2) C++ How to Program, Late Objects Version</h3>
        <img src="{% static 'bookmodule/images/book2.jpeg' %}" alt="Book 2" width="200" height="200">
    </li>
    <li>
        <h3>3) Images in Another Folder</h3>
        <img src="{% static 'bookmodule/images/book3.jpeg' %}" alt="Book 3" width="200" height="200">
    </li>
</ul>
<hr>

{% endblock content %}

